*.py[cod]
*.so
*.pyc
__pycache__

*.egg
*.egg-info
/dist
/build
eggs
sdist
develop-eggs
.installed.cfg
/lib
/lib64

.project
.pydevproject
.settings

*.sqlite


/ROADMAP
/build

/datospublicos
/cubelogs
/quini

/virtualenv
/env

*.sqlite3
*.model.json
*.slicer.ini

*~

